.calendario,
.yogadeados,
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 500px;
    position: relative;
    
}


.imgyoga {
    color: cornflowerblue;
    font-size: 5px;
    font-family: 'Times New Roman';
    margin: 20px;

}
