.calendario,
.yogadeados {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 500px;
    position: relative;
    
}

.mapa {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 400px; 
    max-width: 100%; 
    margin: 0 auto; 
}
