.calendario,
.yogadeados {
    @include flex-center;
    width: 1400px;
    height: 500px;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
}

.grid-item {
    text-align: center;
}

.imgyoga p {
    margin: 20px 0;
}

.img-fluid {
    width: 40%;
    height: 500px; 
    object-fit: cover; 
}

