@media only screen and (max-width: 500px) {
    body {
        background-color: lightslategray;
    }

    header {
        flex-direction: column;
        align-items: flex-start;

        .navbar {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            height: auto;
            padding: 10px;
        }

        .navbar-toggler {
            border: none;
            padding: 10px;
            font-size: 1.25rem;
        }

        .navbar ul {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            a {
                padding: 10px 15px;
                width: 100%;
            }
        }

        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }

        .navbar ul a {
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        background-color: salmon;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
    }

    .navbar ul a {
        font-size: 1.25rem;
    }

    .parrafouno,
    .parrafodos {
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 961px) {
    body {
        background-color: lightblue;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .navbar ul a {
        font-size: 1.5rem;
    }
}