
footer {
    background-color:  lightblue;
    padding: 20px 0;
    text-align: center;

    .section {
        margin-bottom: 20px;
    }

    #redes {
        a {
            margin: 0 10px;
        }
        
        img {
            max-width: 30px;
            height: auto;
        }
    }

    #datos {
        h5, p {
            margin: 0;
        }
    }

    #inscripcion {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input {
            margin-bottom: 10px;
            padding: 5px;
            width: 100%;
            max-width: 300px;
        }

        button {
            padding: 5px 10px;
        }
    }

    .logo {
        max-width: 100px;
        height: auto;
    }

    h6 {
        margin-top: 10px;
        font-size: 1rem;
    }
}
